#elem {
    display: flex;
    border: 1px solid red;
}

.div1 {
    background: lightblue;
    padding: 40px;
    width: 50px;

}

.div2 {
    background: lightseagreen;
    padding: 40px;
    width: 50px;

}

.div3 {
    background: lightcoral;
    padding: 40px;
    width: 50px;
}
#outer-div{
    background-color: lightyellow;
}
.big-head{
    background-color: orange;
    width: 200px;
}