* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* 10px --> 16 px ka 62%  */
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  padding: 3rem;
}
.hero-section {
  background-color: blueviolet;
}
