@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans+Condensed:wght@300&family=Poppins:ital,wght@0,300;0,600;1,400&family=Revalia&family=Roboto:wght@100;300;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Open+Sans+Condensed:wght@300&family=Revalia&family=Roboto:wght@100;300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: .2% linear;
}
html {
  /* 1 rem = 10 px , easy pixel calculation */
  font-size: 62.5%;
}

section {
  padding: 5rem 9%;
  background-color: #eee;
}

.team .box-container .box img {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  border-radius: 45%;
}
.heading {
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
  text-align: center;
  font-family: "Mochiy", sans-serif;
}
 .box-container {
  display: grid;
background-color: red;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(21rem ,1fr ));

  gap: 4rem;
}
.team .box-container .box {
  background-color: white;
  text-align: center;
  border-radius: 0.5rem;
  padding: 2.5rem;
}
.team .box-container .box h3 {
  font-size: 1.7rem;
}

.team .box-container .box .info {
  margin: 1rem 0;
}
.team .box-container .box .info p {
  fontsize: 1.2rem
  margin: 1rem 0;
}
.team .box-container .box:hover {
box-shadow: rgba(27, 32, 34, .4) 0px 1px 0px ,inset;
  margin: 1rem 0;
}
.team .box-container .box .socials a{
  margin-right: 0.3rem;
}
.team .box-container .box .socials a i{
 
  width:3rem;
  padding:2rem;
  height:3rem;
  background-color: #eee;
  font-size: 1.7rem;
  color: #477890;
  border-radius: 50%;
}
.team .box-container .box .socials a i:hover{
  background-color: #477890;
  color:fff;
}