* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-top: 1rem;
}
.container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  column-gap: 12px;
  background-color: red;
  height: 80vh;
}
.item {
  align-self: center;
  height: 122px;
  weight: 122px;
  background-color: blue;
}
.item-one {
  grid-column-start: 1;
  grid-column-end: 3;
}
